.header{
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: #fff0d1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}
.title{
    text-align: center;

}
img{
    border: 4px solid #795757;
    border-radius: 150px;

}
table{
    margin:0 auto;
    border-spacing: 50px;
}

.occupation{
    vertical-align: top;
    margin: 0;
    display: flex;
}
.name{
    vertical-align: center;
}
.blocks{
    margin: 2rem auto;
    background-color: #fff0d1;
    -moz-box-shadow: 0 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 0 3px #ccc;
    box-shadow: 0 0 3px #795757;
    width: 500px;
    text-align: left;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    border-radius: 30px;
}
.content{
    text-align: center;
    width: 100%;
}
h4{
    margin: 0.8rem;
    margin-top: 3%;
}
p{
    margin: 1rem;
}