.header{
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: #fff0d1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}
.title{
    text-align: center;

}
img{
    border: 4px solid #795757;
    border-radius: 150px;

}
table{
    margin:0 auto;
    border-spacing: 50px;
}

.occupation{
    vertical-align: top;
    margin: 0;
    display: flex;
}
.name{
    vertical-align: center;
}

.content{
    text-align: center;
    width: 100%;
}
.topnav {
    background-color: #523a3a;
    overflow: hidden;
    text-align: center;
    height: 2rem;
    border-radius: 10px;
  }
  
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    vertical-align:middle;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  

  .topnav a.active {
    background-color: #b17777;
    color: white;    
    border-radius: 10px;

  }
  