

.header{
    text-align: center;
    margin-top: 50px;
    width: 100vw;
    
}
body, html{
    background-color: #dbeeed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    margin: 0 auto;
    padding: 0;
/* background-color: #FFFFFF; */
background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 26.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Réteg_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve"><style type="text/css">.st0{fill:%23BED3D1;}</style><path class="st0" d="M435.92,540.92c0-51.78-29.73-96.62-73.06-118.37c-36.62-18.39-59.31-56.33-59.31-97.31v-17.45c0-42.08,23.55-80.52,60.9-99.91c42.46-22.04,71.47-66.41,71.47-117.56c0-72.14-57.7-130.8-129.47-132.34c-1.61-0.03-2.9-1.32-2.9-2.93v0c0-8.21-6.72-14.93-14.93-14.93H-55.9c-8.21,0-14.93,6.72-14.93,14.93v1171.72c0,8.21,6.72,14.93,14.93,14.93h344.52c8.21,0,14.93-6.72,14.93-14.93v-1.06c0-1.48,1.11-2.72,2.59-2.9c65.15-8.28,115.52-63.9,115.52-131.3c0-47.5-25.02-89.16-62.61-112.51c-34.52-21.45-55.5-59.22-55.5-99.86V767.5c0-45.83,24.31-88.57,64.34-110.87C408.47,634.01,435.92,590.67,435.92,540.92z"/><path class="st0" d="M1471.42,540.92c0-51.78,29.73-96.62,73.06-118.37c36.62-18.39,59.31-56.33,59.31-97.31v-17.45c0-42.08-23.55-80.52-60.9-99.91c-42.46-22.04-71.47-66.41-71.47-117.56c0-72.14,57.7-130.8,129.47-132.34c1.61-0.03,2.9-1.32,2.9-2.93v0c0-8.21,6.72-14.93,14.93-14.93h344.52c8.21,0,14.93,6.72,14.93,14.93v1171.72c0,8.21-6.72,14.93-14.93,14.93h-344.52c-8.21,0-14.93-6.72-14.93-14.93v-1.06c0-1.48-1.11-2.72-2.59-2.9c-65.15-8.28-115.52-63.9-115.52-131.3c0-47.5,25.02-89.16,62.61-112.51c34.52-21.45,55.5-59.22,55.5-99.86V767.5c0-45.83-24.31-88.57-64.34-110.87C1498.87,634.01,1471.42,590.67,1471.42,540.92z"/></svg>');
 background-attachment: fixed;
 background-size: cover;
background-position: center;
 background-repeat: no-repeat;
background-origin:  content-box;
 background-blend-mode: multiply; }
.title{
    text-align: center;

}
img{
    
    border: 4px solid #88a2a0;
    border-radius: 800px;
    width: 100%;
    display: flex;
}
.wrapper{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 5vh;
}
table{
    margin:0 auto;
    border-spacing: 50px;
}

.occupation{
    vertical-align: top;
    margin: 0;
    display: flex;
}
.name{
    vertical-align: center;
}

#content{
    text-align: center;
    width: 50%;
    font-size:larger;
    
}
.contentwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.topnav {
    width: 100vw;
    overflow: auto;
    background-color: #88a2a0;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }
  .idegesito{
    width: 100%;
    display: flex;
    justify-content: center;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #bdeeedd1;
    color: black;
    border-radius: 10px;
  }
  .topnav .icon {
    display: none;
  }

  .topnav a.active {
    background-color: #84b3b3eb;
    color: white;    
    border-radius: 10px;

  }

  .smallViewImage{
    display: none;
  }

  @media screen and (max-width: 650px) {
    .topnav a{display: none;}
    .topnav a.active{display: block;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    table{
        border-spacing: 0px;
    }
    .smallViewImage{
        display: block;
    }
    .bigViewImage{
        display:  none;

    }
    #content{
        width: 95%;
    }
  }

  @media screen and (max-width: 650px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 280px) {
    h1{
        font-size: larger;
    }
    .occupation{
        font-size: medium;
    }
  }